/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    background: #e9f9e9;
    border-left: 10px solid #bcb;
    margin: 1.5em 10px;
    padding: 0 20px;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'Roboto Slab', serif;
    min-height: 740px;
    background-color: #052500;
}

div .background {
    background-image: url(tiles.gif) repeat-x repeat-y ;
    background-size: 100%;
    background-repeat: repeat-x repeat-y;
}


b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

.fallback-message {
    font-family: 'Roboto Slab', serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #130;
    
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 940px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    line-height: 1.5;
}

.title-graphic {
    position: absolute;
    opacity: .2;
    bottom: 0;
    left: 0;
    z-index; -2;
    width: 880px;
    height: 666px;
}


.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }


.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
   
    box-shadow: 0 2px 6px rgba(3px, 3px, 3px, .3);

    color: #300;

    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.slide p {
	font-size: 28px;
	line-height: 1.5;
	margin-bottom: 28px;
    color: #000;
}

.slide p.small {
    font-size: 21px;
    line-height: 1.2;
}


.slide h1, .slide h2, .slide h3, .slide h4  {
    letter-spacing: .03em;
}

h5 b,
.slide h2,
.slide h1 span.b,
.slide li b,
.slide p b {
    color: #390;
    font-weight: 900;
}

.slide h1 {
	font-size: 43px;
	color: #150;
	font-weight: normal;
	border-bottom: 4px solid #333;
	margin-bottom: 18px;
	padding-bottom: 12px;
	line-height: 1.1;
    font-family: 'Alfa Slab One', cursive;
}

.slide h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 14px;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-family: 'Alfa Slab One', cursive;
}


.slide h4 {
    text-align: center;
    font-size: 95px;
    font-weight: normal;
    margin: 30px 0 50px 0;
    color: #150;
    line-height: 1.2;
    z-index: 3;
    position: relative;
    font-family: 'Alfa Slab One', cursive;
}
.slide h3 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 0;
    color: #666;
    font-weight: normal;
    font-family: 'Alfa Slab One', cursive;
}

.slide h5 {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	margin: 100px 0 50px 0;
}

.slide h6 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin: 100px 0 50px 0;
}

.slide pre {
	font-size: 13px;
	font-family: monospace;
	line-height: 1;
}

.slide tt {
	font-family: monospace;
	background: #f8f8f8;
}

.slide b {
	font-weight: 900;
}

.slide div.hero,
.slide img.hero { 
    float: right;
    margin: 0 0 20px 20px;
}

.slide img.border { 
    border: 2px solid black;
}


.slide ul {
	list-style: square;
	margin-left: 1.5em;
}


.slide li {
	line-height: 1.4;
	margin-bottom: 28px;
	padding-left: 0.5em;
}

.slide p.img {
    text-align: center;
}

#title {
    padding: 0;
}

#title .try {
    font-size: 64px;
    position: absolute;
    top: -0.5em;
    left: 1.5em;

    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

#title h1 {
    font-size: 190px;

    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#title .footnote {
    font-size: 32px;
}

/*
    Second step is nothing special, just a text with a link, so it doesn't need
    any special styling.

    Let's move to 'big thoughts' with centered text and custom font sizes.
*/
#big {
    width: 600px;
    text-align: center;
    font-size: 60px;
    line-height: 1;
}

#big b {
    display: block;
    font-size: 250px;
    line-height: 250px;
}

#big .thoughts {
    font-size: 90px;
    line-height: 150px;
}

/*
    'Tiny ideas' just need some tiny styling.
*/
#tiny {
    width: 500px;
    text-align: center;
}

/*
    This step has some animated text ...
*/
#ing { width: 500px }

/*
    ... so we define display to `inline-block` to enable transforms and
    transition duration to 0.5s ...
*/
#ing b {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

/*
    ... and we want 'positioning` word to move up a bit when the step gets
    `present` class ...
*/
#ing.present .positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform:    translateY(-10px);
    -ms-transform:     translateY(-10px);
    -o-transform:      translateY(-10px);
    transform:         translateY(-10px);
}

/*
    ... 'rotating' to rotate a quarter of a second later ...
*/
#ing.present .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}

/*
    ... and 'scaling' to scale down after another quarter of a second.
*/
#ing.present .scaling {
    -webkit-transform: scale(0.7);
    -moz-transform:    scale(0.7);
    -ms-transform:     scale(0.7);
    -o-transform:      scale(0.7);
    transform:         scale(0.7);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}

/*
    The 'imagination' step is again some boring font-sizing.
*/

#imagination {
    width: 600px;
}

#imagination .imagination {
    font-size: 78px;
}




/*
    Now we 'enable' the hint when presentation is initialized ...
*/
.impress-enabled .hint { display: block }

/*
    ... and we will show it when the first step (with id 'bored') is active.
*/
.impress-on-bored .hint {
    /*
        We remove the transparency and position the hint in its default fixed
        position.
    */
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}


.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

